.services {
  height: 100%;
  overflow: hidden;
  display: flex;
}

.sSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}

.skills {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.sTitle {
  font-size: 40px;
  margin-bottom: 24px;
}

.serviceList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.service {
  width: 100%;
  padding: 25px;
  border-radius: 20px;
  background-color: #2f213f;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.serviceIcon {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceIcon img {
  width: 24px;
  height: 24px;
}

.serviceInfo h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

.serviceInfo h3 {
  font-size: 13px;
  font-weight: 300;
}

.service:nth-child(1) .serviceIcon {
  background-color: #dd4c62;
}
.service:nth-child(2) .serviceIcon {
  background-color: #025656;
}
.service:nth-child(3) .serviceIcon {
  background-color: #6c5c0c;
}

@media (max-width: 1536px) {
  .service {
    width: 70%;
  }
}

@media (max-width: 1280px) {
  .sTitle {
    font-size: 128px;
  }

  .service {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .sTitle {
    font-size: 48px;
  }

  .service {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .services {
    align-items: center;
    justify-content: center;
  }

  .sSection {
    width: 100%;
  }

  .sSection.right {
    display: none;
  }
}
